
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);


.time div {

  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  color: black;
}


#days {
  font-size: 100px;
}
#hours {
  font-size: 100px;
}
#minutes {
  font-size: 100px;
}
#seconds {
  font-size: 50px;
}

.title-text {
  padding: 10% 0 10%;
  font-size: 100px;

  font-family: 'Mansalva', cursive;
}

video {
  width: 100%;
  position: relative;
  top:20px;

}
.navbar {
  font-size: 50px;
  margin-top: 10%;
  font-family: 'Kalam', cursive;

}

.main {
  background-color: white;

  text-align: center;
}

span {
  display: block;
  font-size: 60px;
  color: black;
}

.invite {
  width:30%;
  font-size: 50px;
  height: 100vh;
  line-height: 1.6;
  font-family: cursive;
  padding: 5% 5% 0 1%;
  font-family: 'Lobster Two', cursive;
}
.engaged {
  font-size: 200px;
  text-transform: uppercase;
}
.rotate {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  line-height: 1;
  padding-bottom: 100px;
  letter-spacing: 30px;
}
.item {
  height: 100vh;
  width: 100%;
}
.item1
{
  padding-top: 30%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT1N_iYGj1E5N_j2Qm1hjZ5HfKQZtH8B2higdiVBPO4S_fU7KW");
  background-position: center;

  background-size: cover;
}

.item2
{
  background-image: url("https://videohive.img.customer.envatousercontent.com/files/3d5196fb-09bb-4236-9b96-7532677b14cc/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a88dd48b27195e7c27ee6e0c353660ad");

  background-position: center;
  background-size: cover;
  font-size: 50px;
  font-family: cursive;
  text-transform: capitalize;
  padding-top: 10%;
}

.item3
{
  background-image: url("rose.png");
  background-position: center;
  background-size: cover;
  background-color: white;

}


.item4
{
  background-color: white;
  background-image: url("couple.png");
  background-position: top;
  margin-top: 10%;
  background-size: cover;
}

.item5
{
  background-color: gray;
}
